@import '../../style/vars.scss';

.button {
  padding: 3% 6%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
    

  button {
    white-space: nowrap;
    padding: 6% 8%;
    border-radius: 4px;
    background-color: $linkColor;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 1;
    text-align: center;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    color: #FFFFFF;
    &:hover{
        cursor: pointer;
        font-size: 12px;
        background-color: rgb(87, 109, 209);
    }
  }
}