@import '../../style/main.scss';
@import '../../style/vars.scss';


.button {
  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {

    button {
      transform: scale(0.9);
      cursor: pointer;
      background-color: rgb(87, 109, 209);
    }

  }

  button {
    width: 100%;
    background-color: $linkColor;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 14px;
    padding: 0.5rem 0.7rem;
  }
}