@import '../../style/main.scss';

.form {
  background-color: white;
  padding: 5%;

  h2 {
    line-height: 1.2;
  }

  form {
    margin-top: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &:after {
      content: "";
      width: 100%;
      order: 2;
    }

    input {
      max-width: 48%;
      border-radius: 2px;
      margin-bottom: 3%;
    }
  }
}

.button {
  order: 5;
  margin: 0 auto;
}