@import '../../style/main.scss';

.block {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  position: relative;

  &-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    width: 35%;
    aspect-ratio: 1/1;
    padding: 0;
    margin: 0;
    padding: 2%;
    background: none;
    border: none;
    box-shadow: none;
    outline: none;
    transform: rotate(90deg);
    margin-left: auto;

    &:hover {
      background: none;
      border: none;
      box-shadow: none;
      outline: none;
      padding: 2.5%;
    }

    span {
      cursor: pointer;
      @include bg;
      width: 100%;
      height: 100%;
      background-color: transparent;
      background-image: url('../../assets/img/arrow.svg');
    }
  }

  &-select {
    visibility: hidden;
    opacity: 0;
    width: 100%;
    position: absolute;
    left: 0;
    top: 100%;
    transform: translateY(-20px);
    width: 70%;

    li {
      cursor: pointer;

      &:hover {
        background-color: rgb(218, 218, 218);
      }

      font-size: 10px;
      padding: 2% 4%;
      border: 1px solid black;
      position: relative;

      &:after {
        @include pseudo(20%);
        right: 30%;
        max-height: 100%;
        left: initial;
        @include bg;
        background-color: transparent;
      }

      &:first-child {
        &:after {
          background-image: url('../../assets/img/germany.png');
        }
      }

      &:nth-child(2) {
        &:after {
          background-image: url('../../assets/img/russia.png');
        }
      }

      &:nth-child(3) {
        &:after {
          background-image: url('../../assets/img/usa.png');
        }
      }

      &:nth-child(4) {
        &:after {
          background-image: url('../../assets/img/canada.png');
        }
      }
    }
  }

  &-current {
    font-size: 12px;
    color: rgb(61, 61, 61);
    font-weight: bold;
  }

  &__open {
    button {
      span {
        transform: scale(-1, 1);
      }
    }

    ul {
      visibility: visible;
      opacity: 1;
      transform: translateY(0);
    }
  }

  &-icon {
    width: 15%;
    display: inline-block;
    aspect-ratio: 1/1;
    @include bg;
    margin-left: 5%;
    background-color: transparent;
  }
}



.firstRow {
  border: 1px solid black;
  display: flex;
  padding: 1% 3%;
  border-radius: 4px;
  align-items: center;
  z-index: 5;
  background-color: white;
  width: 70%;
  justify-content: space-between;
}

@media (min-width: $laptop) {
  .block{
    &-btn{
      width: 15%;
    }
  }
}