@import '../../style/main.scss';

.wrapper {

  .section {
    height: 25vh;
    margin-bottom: 3%;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 2% 2%;


    &__header {
      height: auto;
      text-align: center;

      .header-menu {
        display: none;
      }
    }

    &__main {
      &>span {
        height: 100%;
      }
    }

    &__info {
      margin-top: 10%;
      display: flex;
      flex-direction: column;
      height: auto;

      .list {
        margin-top: 5%;
      }

      .list>span {
        display: flex;
        padding: 2% 6%;
        justify-content: space-between;
      }

      .infoBlock {
        height: 180px;
      }
    }

    &__slider {
      .slider {
        display: flex;
        justify-content: space-around;

        &-item {
          text-align: left;
        }
      }
    }
  }

  &-slider {
    justify-content: space-around;
    display: flex;
    margin-top: 3%;

    &>div {
      text-align: left;
    }
  }
}

@media (min-width: $laptop) {
  .wrapper {
    .section {
      margin-bottom: 1%;

      &__info {
        margin: 0 auto;
        margin-top: 3%;
        width: 70%;

        .list {
          &>span {
            justify-content: center;

            span {
              margin-right: 5%;
            }
          }
        }

        .infoBlock {
          height: 250px;
        }
      }

      &__slider {
        margin: 0 auto;
        margin-top: 3%;
        width: 70%;
      }
    }
  }
}

@media (min-width: $desktop) {
  .wrapper {
    .section {
      margin-bottom: 1%;

      &__header {
        .logo {
          display: none;
        }

        .header-menu {
          display: flex;
          align-items: center;
          justify-content: space-between;
          &>span {
            display: flex;
            margin-right: 5%;
            &:last-child{
              margin-right: 0;
              span{
                margin-right: 0;
                margin-left: 7%;
              }
            }
            span{
              margin-right: 5%;
            }
          }
          .skeleton-buttons{
            
          }
        }
      }

      &__main {
        height: 60vh;
      }

      &__info {
        margin: 0 auto;
        margin-top: 3%;
        width: 70%;

        .list {
          &>span {
            justify-content: center;

            span {
              margin-right: 5%;
            }
          }
        }

        .infoBlock {
          height: 250px;
        }
      }

      &__slider {
        margin: 0 auto;
        margin-top: 3%;
        width: 70%;
      }
    }
  }
}