@import '../../style/vars.scss';

.header {
  display: flex;
  align-items: center;

  justify-content: center;

  &-nav {
    flex-grow: 2;
    display: flex;
    margin-left: 5%;
    display: none;

    li {
      padding: 1% 2%;

      a {
        text-transform: uppercase;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 14px;

        letter-spacing: 1.4px;
        text-transform: uppercase;

        color: #222222;

        &:before {
          content: none;
        }
      }
    }
  }

  &-subBlock {
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    display: none;
    margin-left: auto;

    &--button {
      min-width: 150px;

      &__signIn {
        &>div {
          button {
            background: none;
            color: black;
            margin-right: 10%;
          }
        }
      }
    }
  }

  &-logo {
    min-width: 10%;
  }
}

@media (min-width: $desktop) {
  .header {
    justify-content: flex-start;

    &-nav {
      display: flex;
    }

    &-subBlock {
      display: flex;
    }
  }
}