@import '../../style/vars.scss';

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 25;
  background-color: white;

  &__disappear {
    transform: translateY(-100%);
  }

  &-nav {
    flex-grow: 2;
    display: flex;
    margin-left: 5%;
    // display: none;
    flex-wrap: wrap;
    justify-content: space-between;

    &>li {
      a {
        text-transform: uppercase;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 14px;

        letter-spacing: 1.4px;
        text-transform: uppercase;

        color: #222222;

        &:before {
          content: none;
        }
      }
    }
  }

  &-subBlock {
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    display: none;
    margin-left: auto;

    &--button {
      min-width: 150px;

      &__signIn {
        &>a>div {
          button {
            background: none;
            color: black;
            margin-right: 10%;
          }
        }
      }
    }
  }

  &-logo {
    min-width: 10%;

    div {
      max-width: 100%;
    }
  }
}
.activeLink{
  color: rgb(185, 53, 53) !important;
  font-weight: bold !important;
}

.dropdownItem {
  position: relative;
  z-index: 15;
  text-align: left;
  margin-right: 3%;

  // width: 100px;
  a {
    z-index: 5;
    position: relative;
    background-color: white;
    width: 100%;
    display: block;
  }

  ul {
    transition: transform .3s ease, opacity .2s ease, visibility .3s ease;
    transform: translateY(-20px);
    visibility: hidden;
    opacity: 0;
    position: absolute;
    left: 0;
    background-color: white;
    z-index: 0;
    width: 130px;

    li {
      padding: 6% 6%;
      border: 1px solid black;
      border-top: none;
      a {
        font-size: 12px;
        text-transform: uppercase;
        font-weight: 400;

        &:hover {
          color: blue;
          font-weight: bold;
          cursor: pointer;

        }
      }

      &:first-child {
        border-top: none;
      }
    }
  }
}

.dropdownItem__active {
  z-index: 20;

  ul {
    transform: translateY(0);
    visibility: visible;
    opacity: 1;
  }
}

@media (min-width: $desktop) {
  .header {
    justify-content: flex-start;

    &-nav {
      display: flex;
    }

    &-subBlock {
      display: flex;
    }
  }
}