@import './vars.scss';

@font-face {
  font-family: 'Fira Sans';
  src: url('../assets/fonts/FiraSans-Light.ttf');
  font-style: normal;
  font-weight: 400;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  transition: all .1s ease-in-out;
  font-family: 'Fira Sans', sans-serif;
  text-decoration: none;
}

html,
body {
  height: 100%;
  margin: 0;
  line-height: 1.5;
  color: #121212;
}

textarea,
input,
button {
  font-size: 1rem;
  font-family: inherit;
  border: none;
  border-radius: 8px;
  padding: 0.5rem 0.75rem;
  box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.2), 0 1px 2px hsla(0, 0%, 0%, 0.2);
  background-color: white;
  line-height: 1.5;
  margin: 0;
  // padding: 0;
}

textarea:hover,
input:hover,
button:hover {
  box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.6), 0 1px 2px hsla(0, 0%, 0%, 0.2);
}

.wrap {
  padding: 2% 3%;
}

@media (min-width: $laptop) {
  .wrap {
    padding: 2% 16%;
  }
}

@media (min-width: $desktop) {
  .wrap {
    padding: 1% 20%;
  }
}


#root {
  position: relative;
}
#detail{
  position: relative;
  padding-top: 7%;
  height: auto;
}
@media (min-width: $desktop) {
  #detail{
    padding-top: 3%;
  }
}


.optimize {
  background-color: rgb(161, 161, 161);
  border-radius: 5px;
}

button {
  text-transform: uppercase;
}

.popup{
  position: fixed;
  right: 10%;
  z-index: 9;
  &__help{
    bottom: 40%;
    background-color: red;

    .popup-image__help{
      background-image: url('../assets/img/call.png');
      background-color: transparent;
    }
  }
}