$blue: rgb(77, 77, 236);
$red: rgb(236, 64, 41);
$green: rgb(45, 245, 45);

$activeLink: rgb(243, 243, 243);
$pendingLink: rgb(41, 168, 168);
$bgSidebar: #F3F8FF;
$linkColor:  #0A61F7;
$bgColor: white;
$laptop: 720px;
$desktop: 1024px;


