@import '../../style/main.scss';

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  transition: all .3s ease-in-out;
  transform: translateX(-50%);
  pointer-events: none;
  z-index: 30;

  &-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    background-color: $bgSidebar;
    width: 50%;
  }

  &-nav {
    width: 100%;
    margin-top: 10%;
    position: relative;
    padding: 0;
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    li {
      width: 100%;
      padding-left: 10%;
      position: relative;
      line-height: 1;
      border: 2px solid black;
      padding: 7%;
      border-bottom: none;
      border-left: none;

      &:last-child {
        border-bottom: 2px solid black;
      }

      a {
        text-transform: uppercase;

        &::before {
          content: none;
        }
      }
    }
  }


  &-subBlock {
    width: 100%;
    margin-top: auto;
    margin-bottom: 30%;

    &--button {
      width: 90%;
      margin: 0 auto;
      margin-bottom: 3%;
    }
  }
}


.logo {
  margin-top: 15%;
}

@media (min-width: $desktop) {
  .sidebar {
    transform: translateX(-20%);

    &-content {
      width: 20%
    }
  }
}