.block {
  h4 {
    color: gray;
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
  }

}

.list {
  li {
    margin-bottom: 2%;
    font-size: 10px;
    color: black;
    font-weight: bold;
  }
}