@import '../../style/main.scss';

.content.wrap {
  padding-top: 10%;
  padding-bottom: 10%;
  text-align: left;
}

.content {
  &-title {
    margin-bottom: 5%;
  }

  &:after {
    content: '';
    width: 100%;
    order: 3;
  }
}

.list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
  justify-content: center;

  li {
    min-width: 40px;
    aspect-ratio: 1/1;
    margin-left: 3%;
    margin-top: 3%;
    display: flex;
    border-radius: 4px;

    &:first-child {
      margin-left: 0;
    }

    &:hover {
      padding: 1%;
      transform: scale(1.05);
    }

    span {
      cursor: pointer;
      width: 100%;
      aspect-ratio: 1/1;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
    }

    p {
      display: none;
    }
  }
}

.bild {
  padding: 5%;
  margin-top: 5%;
  display: flex;
  flex-wrap: wrap;
  height: 350px;
  position: relative;

  h1 {
    width: 100%;
  }

  &-image {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    width: 100%;
    max-height: 250px;
    height: 250px;

    img {
      width: 100%;
      max-height: 100%;

      &.optimize {
        background-color: gray;
        border-radius: 5px;
      }
    }
  }
}

.button {
  margin: 0 auto;
  margin-top: 5%;
  order: 4;

  div {
    button {
      padding: 5% 7%;
    }
  }
}

@media (min-width: $laptop) {


  .bild {
    margin-top: 3%;
    height: 400px;

    &-image {
      max-height: 300px;
    }
  }
}

@media (min-width: $desktop) {
  .content {

    &-text,
    &-title {
      width: 100%;
    }

    &-title {
      margin-bottom: 5%;
      font-size: 39px;
      line-height: 48px;
      letter-spacing: 0.8px;
      color: #1C202B;
      padding-right: 30%;
    }
  }

  .content.wrap {
    padding-top: 5%;
    padding-bottom: 5%;
    display: flex;
    flex-wrap: wrap;
  }

  .list {
    max-width: 30%;
    flex-direction: column;
    margin: 0;
    margin-bottom: auto;

    li {
      cursor: pointer;
      margin-left: 0;
      justify-content: flex-start;
      align-items: center;
      height: 50px;

      span {
        width: 20%;
        max-height: 90%;
      }

      p {
        display: block;
        line-height: 1;
      }

      &:first-child {
        margin-top: 0;
      }
    }
  }

  .bild {
    min-width: 60%;
    max-width: 60%;
    margin-left: auto;
    margin-top: 0;
    padding: 3%;

    &-image {
      height: 100%;
    }
  }

  .button {
    div {
      button {
        padding: 15% 19%;
      }
    }
  }
}