.content.wrap {
  padding-bottom: 10%;
}

.slider {
  display: flex;
  align-items: stretch;
  margin-top: 10%;
}

.slide {
  &-img {
    min-width: 100px;
    min-height: 150px;
    img {
      max-width: 100%;
    }
  }

  &-content {
    height: 100%;
    background-color: #EAF3FF;

    
    h5 {
      font-size: 12px;
      word-wrap: break-word;
      letter-spacing: 1.5px;
      text-transform: uppercase;
      color: #0A61F7;
      margin-left: 3%;
    }

    p {
      margin-left: 3%;
      font-family: 'Roboto';
      font-weight: 400;
      font-size: 12px;
      line-height: 1;
      color: #1C202B;
    }
  }
}